<div id="users-table" stTable #table="stTable">
  	<div *ngIf="table.busy" class="loading-indicator">Loading ...</div>

	<table>
		<thead>
			<tr>
				<th stSort="name.first" stSortCycle="true">First name</th>
				<th stSort="name.last" stSortCycle="true">Last name</th>
				<th stSort="birthDate" stSortCycle="true">Birth date</th>
				<th stSort="balance" stSortCycle="true">Balance</th>
				<th stSort="job" stSortCycle="true">Job</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of table.items">
				<td>{{user.value.name.first}}</td>
				<td>{{user.value.name.last | uppercase}}</td>
				<td>{{user.value.birthDate | date}}</td>
				<td>{{user.value.balance | currency}}
				<td>{{user.value.job | uppercase}}</td>
			</tr>
		</tbody>
	</table>

	<div stPagination #pager="stPagination">
		<p>
			<button (click)="pager.selectPreviousPage()" [disabled]="!pager.isPreviousPageEnabled()" title="Previous">&#x25C4;</button>
			<em>{{pager.length > 0 ? pager.lowerBoundIndex + 1 : 0}}</em> - <em>{{pager.higherBoundIndex + 1}}</em> of <em>{{pager.length}} </em>
			<button (click)="pager.selectNextPage()" [disabled]="!pager.isNextPageEnabled()" title="Next">&#x25BA;</button>
<!--			<button (click)="pager.selectPage(3)">Select Page</button>-->
		</p>
	</div>
</div>
